<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MvE_SQL_test.Properties.Settings.connString" connectionString="server=192.168.2.61;user id=machiel;persistsecurityinfo=True;database=MvESQLtest"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>